*
{
    margin: 0;
}


.header__img-introduction .header__img-introduction-img
{
  width: 100%;
  position: relative;
}

.header__acc
{
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 10px;
    
}

.header__acc-login
{
    border-right: 1px solid;
    padding-right: 16px;
}

.header__acc-register
{
    padding-left: 20px;
}

.header__acc-login-p:hover
{
    color: aqua;
    cursor: pointer;
}

.header__acc-register-p:hover
{
    color: chartreuse;
    cursor: pointer;
}

.header__navbar-search
{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    margin-top: -4px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.05);

}

.header__navbar-search-input
{
    background-color: #fff;
    border-radius: 20px;
    padding-left: 12px;
}

.header__navbar-search-input-text
{
    width: 500px;
    height: 43px;
    border-radius: 15px;
    font-size: 1rem;
    padding-right: 150px;
    border: none;
    outline: none;
}

.header__search-btn
{
    width: 40px;
    height: 30px;
    margin-right: 25px;
    padding-left: 20px;
    padding-right: 40px;
    background-color: rgb(21, 163, 149);
    border-radius: 3px;
    cursor: pointer;
}

.header__search-btn:hover
{
    background-color: rgb(23, 201, 183);
}


.header__navbar-search-check
{
    display: flex;
    background-color: rgb(23, 201, 183);
    border-color: black;
    border-radius: 10px;
    width: 140px;
    text-align: center;
    cursor: pointer;
    
}

.header__navbar-search-check-img
{
    width: 40px;
    margin-left: -1px;
    border-radius: 4px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 7px;
}

.header__navbar-search-check-info
{
    line-height: 1;
    margin-left: 10px;
    margin-top: 15px;
}

.header__search-btn-icon-cart
{
    display: flex;
    position: relative;
}

.header__search-btn-icon-cart-icon
{
    font-size: 40px;
}

.header__search-btn-icon-cart-number
{
    position: absolute;
    background-color: red;
    width: 15px;
    margin-bottom: 56px;
    border-radius: 50%;
    text-align: center;
    margin-left: 26px;
}

.header__navbar-tool
{
    width: 100%;
    height: 54px;
    background-color: rgb(21, 163, 149);
}

.header__navbar-tool-list
{
    list-style: none;
    display: flex;
    margin-left: -40px;
}

.header__navbar-tool-item
{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 18px;
    padding-bottom: 17px;
}

.header__navbar-tool-item:hover
{
    background-color: black;
    color: #fff;
}

.body
{
    background-color: rgba(0, 0, 0, 0.05);
}

.body_product
{
    padding-top: 50px;
}

.body__product-item
{
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

.body__product-item--img
{
    padding-top: 122%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.body__product-item--img-name
{
    font-size: 1.1rem;
    line-height: 1.8rem;
    padding: 0 18px;
    margin-top: 10px;
    margin-bottom: 34px;
}

.body__product-item--price-new
{
    font-size: 1.3rem;
    color: red;
    margin-left: 18px;

}

.body__product-item--price-old
{
    font-size: 1.1rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 18px;
}

.body__product-item--rating
{
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 18px;
}

.body__product-item__star--gold
{
    color: yellow;
}

.body__product-item--rating-detail
{
    padding-left: 10px;
}

.body-product__pagination
{
    margin-top: 48px;
    margin-bottom: 32px;
    padding-left: 0;
    padding-bottom: 32px;
}

.pagination-item
{
    margin: 0 2px;
}

.pagination
{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item
{
    margin: 0 16px;
}

.pagination-item--active .pagination-item-link
{
    color: red;

}

.pagination-item-link
{
    --height: 30px;
    display: block;
    font-weight: 300;
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
}


.footer__partner
{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 90px;
}

.footer__partner-img
{
    width: 170px;
    padding-left: 40px;
}

.footer__connect
{
    display: flex;
    justify-content: space-around;
}

.footer__connect-content
{
    display: flex;
    padding-bottom: 80px;
}

.footer__connect-img
{
    width: 30px;
}

.footer__connect-detail
{
    padding-left: 18px;
    color: blue;
    font-size: 20px;
    margin-top: 5px;
}

.footer__detail
{
    padding-bottom: 50px;
}

.footer__detail-p
{
    text-align: center;
    line-height: 2;
}

